.cabeçalho{
    display: flex;
    justify-content: space-between;
    background-color: var(--branco);
    padding: 0 2em;
    position: relative;
}

.cabeçalho__categorias-tablet, .categorias__botao, .categorias__lista, .container__titulo{
    display: none;
}

.menu-logo{
    display: flex;
    align-items: center;
    column-gap: 1em;
}

.cabeçalho__menu-hamburguer{
    width: 39px;
    height: 39px;
    background-image: url("../img/Menu.svg");
    background-size: contain;
    display: inline-block;  
}

.container__botao:checked~.lista-menu{
    display: block;
    position: absolute;
    top: 100%;
    left: 0%;
}

.container__botao{
    display: none;
}

.container__botao:checked ~ .container__label > .cabeçalho__menu-hamburguer{
    background-image: url(../img/Menu-hamburguer-selecionado.svg);
    background-size: 39px;
}

.lista-menu{
    display: none;
    width: 60vw;
}

.lista-menu__titulo, .lista-menu__item{
    padding: 1em;
    background-color: var(--branco);
}

.lista-menu__titulo{
    color: var(--laranja);
    font-weight: 700;
}

.lista-menu__link{
    background: var(--azul-degrade);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-decoration: none;
    text-transform: uppercase;
}

.menu-usuario__texto{
    display: none;
}

.menu-usuario__link{
    text-decoration: none;
}

@media screen and (min-width: 1024px) {
    
    .container__titulo{
        display: block;
        font-family: var(--fonte-secundaria);
        font-size: 30px;
        font-weight: 400;
    }

    .container__titulo-negrito{
        font-weight: 700;
    }

    .cabeçalho__menu-hamburguer{
        display: none;
    }

    .container__imagem-fav{
        display: none;
    }

    .categorias{
        display: flex;
        align-items: center;
    }

    .categorias__botao:checked ~ .categorias__lista{
        display: block;
        position: absolute;
        top: 100%;
    }

    .categorias__botao:checked ~ .categorias__label > .tablet__item-menu{
        background: var(--azul-degrade);
        color: var(--branco);
    }

    .categorias__item:hover{
        background: var(--azul-degrade);
    }

    .categorias__item:hover > .categorias__link{
        -webkit-text-fill-color: var(--branco);
    }

    .tablet__item-menu{
        padding: 2em 1em;
    }

    .categorias__lista{
        position: absolute;
        top: 100%;
        background-color: var(--branco);
        /* padding: 1em; */
    }

    .categorias__item{
        padding: 1em;
    }

    .categorias__link{
        text-decoration: none;
        text-transform: uppercase;
        background: var(--azul-degrade);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        padding: 1em;
    }

    .cabeçalho__categorias-tablet{
        display: flex;
        column-gap: 2em;
    }

    .tablet__item a, .tablet__item-menu a{
        text-decoration: none;
        color: var(--preto);
        text-transform: uppercase;
    }

    .menu-usuario{
        display: flex;
        column-gap: 2em;
    }


}

@media screen and (min-width: 1728px) {
    
    .cabeçalho{
        padding: 0 3em;
    }

    .categorias{
        margin-right: auto;
        margin-left: 5em;
    }

    .categorias__botao:checked ~ .categorias__label > .tablet__item-menu{
        background: var(--azul-degrade);
        color: var(--branco);
    }

    .categorias__item:hover{
        background: var(--azul-degrade);
    }

    .categorias__item:hover > .categorias__link{
        -webkit-text-fill-color: var(--branco);
    }

    .menu-usuario__texto{
        display: block;
    }
    
    .menu-usuario__link{
        display: flex;
        align-items: center;
        text-decoration: none;
        color: var(--preto);
        font-size: 25px;
    }
}